*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/modules.xml
/.idea/misc.xml
/.idea/codeStyles
/.idea/compiler.xml
/.idea/caches
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/
